*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.container{
    text-align: center;
    
}
.header{
    height: 6rem;
    width: 100%;
    background-color: bisque;
    font-size: 3rem;
}
h2,h3 {
    font-size: 3rem;
}
h4{
    font-size: 2rem;
}
.content{
    height: 35rem;
    width: 100%;
    background-color: rgb(255, 228, 196);
    font-size: 1.2rem;
}
.main-content{
    height: 30rem;
    width: 100%;
    background-color: rgb(260, 230, 220);
    font-size: 1.2rem;
}
.box-sm{
    height: 22rem;
    width: 25%;
    float: left;
    margin-left: 6.8rem;
    margin-top: 2.5rem;
}
img{
    height:22rem;
    width: 22rem;
}
li{
    list-style: none;
    margin: 1rem;
}
